.medida{
    font-size: 20px;
    position: absolute;
    margin-left: 25%;
}

#medida{
    position: absolute;
    margin-top: 30px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.marca{
    font-size: 20px;
    position: absolute;
    margin-top: 75px;
    margin-left: 25%;
}

#marca{
    position: absolute;
    margin-top: 105px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.sabor{
    position: absolute;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 25%;
}

#sabor{
    position: absolute;
    margin-top: 180px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.quantidade{
    position: absolute;
    margin-top: 230px;
    font-size: 20px;
    margin-left: 25%;
}

#quantidade{
    position: absolute;
    margin-top: 260px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}