.medida{
    margin-top: 35px;
    font-size: 20px;
    position: absolute;
    margin-left: 25%;
}

#medida{
    position: absolute;
    margin-top: 77px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.tipo{
    font-size: 20px;
    position: absolute;
    margin-top: 132px;
    margin-left: 25%;
}

#tipo{
    position: absolute;
    margin-top: 170px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.button{
    margin-top: 251px;
    }
    