.data_pedido{
    font-size: 20px;
    position: absolute;
    margin-left: 25%;
}

#data-pedido{
    position: absolute;
    margin-top: 30px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.data_festa{
    font-size: 20px;
    position: absolute;
    margin-top: 75px;
    margin-left: 25%;
}

#data-festa{
    position: absolute;
    margin-top: 105px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.prazo{
    position: absolute;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 25%;
}

#prazo{
    position: absolute;
    margin-top: 180px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.data_entrega{
    position: absolute;
    margin-top: 230px;
    font-size: 20px;
    margin-left: 25%;
}

#data-entrega{
    position: absolute;
    margin-top: 260px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.tipo_entrega{
    position: absolute;
    margin-top: 304px;
    font-size: 20px;
    margin-left: 25%;
}

#tipo-entrega{
    position: absolute;
    margin-top: 332px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.frete{
    position: absolute;
    margin-top: 374px;
    font-size: 20px;
    margin-left: 25%;
}

#frete{
    position: absolute;
    margin-top: 402px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}


.sinal{
    position: absolute;
    margin-top: 443px;
    font-size: 20px;
    margin-left: 25%;
}

#sinal{
    position: absolute;
    margin-top: 470px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.restante{
    position: absolute;
    margin-top: 508px;
    font-size: 20px;
    margin-left: 25%;
}

#restante{
    position: absolute;
    margin-top: 537px;
    margin-left: 26%;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.conteudo{
    height: 623px;
}

.button{
    margin-top: 587px;
}